html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#columns {
    height: 100%;
}
#leftmargin {
    float: left;
    width: 17.5%;
    background: rgb(0, 80, 140);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}
#tabs {
    float: left;
    width: 25%;
    background: rgb(0, 80, 140);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    text-align: center;
    padding-top: 30px;
    border: solid gray;
    line-height: 3;
    font-size: 18px;
    letter-spacing: 2px;
}
#contents {
    float: left;
    width: 40%;
    background: rgb(0, 80, 140);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    text-align: center;
    padding-top: 100px;
    border: solid gray;
}
#rightmargin {
    float: left;
    width: 17.5%;
    background: rgb(0, 80, 140);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
}
#nametitle {
    font-size: 36px;
}
button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:rgb(126, 46, 46);
    text-align:center;
    transition: all 0.2s;  
}
button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
#notes {
    line-height: 2;
}