html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
#columns {
    height: 100%;
}
#leftmargin {
    float: left;
    width: 20%;
    background: antiquewhite;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
#tabs {
    float: left;
    width: 20%;
    background: antiquewhite;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}
#content-container {
    float: left;
    width: 40%;
    background: antiquewhite;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
    font-family: "Cantarell";
}
#actualcontent {
    margin-left: 30px;
    margin-right: 30px;
}
#rightmargin {
    float: left;
    width: 20%;
    background: antiquewhite;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
#nametitle {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "Cantarell";
    font-size: 30px;
    line-height: 1.2;
}
#notes {
    line-height: 2.5;
}
.tab {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    flex-grow:1;
    font-family: "Cantarell";
    text-decoration: none;
}
.tab:visited {
    color: black;
}
.tab:hover {
    background-color: black;
    color: antiquewhite;
    transition: all 0.5s;
}
.notelink {
    padding: 2px 5px 2px 5px;
}
.notelink:visited {
    color: black;
}
.notelink:hover {
    color: antiquewhite;
    background-color: black;
    text-decoration: none;
    transition: all 0.5s;
}
#divider1 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 20%;
}
#divider2 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 40%;
}
#divider3 {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    left: 80%;
}