html {
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
}

#col1 {
    float: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#col2 {
    float: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#intro-cont {
    margin-left: 60px;

}

#main-cont {
    margin-left: 60px;

}

#line {
    margin-top: -10px;

    border: 1px solid black;
    float: left;
    width: 50%
}

#hi {
    font-size: large;
    font-weight: bolder;
}

#port-title {
    font-size: x-large;
    font-weight: bolder;
}

#gh {
    color: gray;
}

#name {
    font-size: xx-large;
    font-weight: bolder;
}

#siebel {
    float: right;
    margin-right: 75px;
    align-self:flex-start
}

#row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#c {
    max-height: 1000px;
    max-weight: 1000px;
}

figcaption {
    text-align: center;
}